* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $color-cinza-100;
}

.clearfix {
	&:after {
		width: 100%;
		content: '';
		display: block;
		clear: both;
	}
}

.wrapper {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

fieldset {
	border: 0;
}

.so-pages {
	&--head {
		margin-bottom: 24px;
	}
}